@tailwind base;
@tailwind components;
@tailwind utilities;

.button{
    @apply p-3 m-5 bg-[#7743DB] rounded-xl shadow-md shadow-neutral-500 hover:bg-[#5f36ab]
}

.card-cert{
    @apply md:w-96 w-64 sm:w-72 h-[500px] bg-[#DFF5FF] dark:bg-inherit text-black dark:text-slate-200  glass m-5 overflow-hidden
}

.card-proj{
    @apply md:w-96 w-64 sm:w-72 h-[500px] bg-[#efeff1] dark:bg-[#140b1c] text-black dark:text-slate-200 m-5 overflow-hidden
}

.progress-container{
    @apply w-[95%] md:w-[80%] bg-neutral-400 dark:bg-neutral-800 mx-6 mb-5 rounded-2xl h-8
}

.progress{
    @apply bg-blue-600 p-0.5 text-center font-bold text-xs md:text-xl text-[#EBEBEB] leading-none  shadow-md shadow-slate-700 rounded-2xl h-8
}

.active{
    @apply !text-red-500 mb-1 transition duration-300;
}

@layer base{
    /* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 50px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 50px;
    border: 10px solid var(--primary);
  }

  @keyframes typing {
    0% { width: 0 }
    to { width: 100% }
  }

  .animate-typed{
    animation: typing 3.5s steps(45, end) 1s;
  }

  .animate-underline:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #6b528b;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  }
  .animate-underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

 
}